#tweet-text {
  background:transparent;
  outline: none;
  border: none;
  width: 100%;
}

#tweet-input {
  border-bottom: 5px solid black;
  height: 80px;
  font-size: larger;
}

#tweet-input > textarea {
  width: 100%;
}

#tweet-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5em;
}

#tweet-bottom > button {
  font-family: Bungee;
  color: white;
  background-color: #4056A1;
}

.counter {
  font-family: Bungee;
}

.red-count {
  font-family: Bungee;
  color: red;
}